{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Вашм первые задачи Todos!</h1>
            <p>Есть миллион разных вещей, которыми Вы могли бы заниматься. Важно то, <u>что вы делаете</u>. Мы создали проект <b><i>Todo Woo</i></b> чтобы помочь вам реализовать все ваши возможности и жить той жизнью, которая для вас важнее всего.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать пользоваться!</a>
        </div>
    </div>

{% endblock %}
